/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}


.main-content-wrapper .header-area {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 320px;
  flex: 0 0 320px;
  width: 320px;
  max-width: 320px;
  background-color: #fff;
  padding: 60px 75px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-content-wrapper .header-area {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 280px;
      flex: 0 0 280px;
      width: 280px;
      max-width: 280px;
      padding: 50px; } }
  @media only screen and (max-width: 767px) {
    .main-content-wrapper .header-area {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
      flex: 0 0 320px;
      width: 320px;
      max-width: 320px;
      position: fixed;
      z-index: 4000;
      top: 0;
      left: -350px;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      display: block; } }
  .main-content-wrapper .header-area.bp-xs-on {
    left: 0; }
  .main-content-wrapper .header-area .nav-close {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 15px;
    background-color: red;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 12px;
    cursor: pointer;
    background-color: #fbb710;
    display: none; }
    @media only screen and (max-width: 767px) {
      .main-content-wrapper .header-area .nav-close {
        display: block; } }
    .main-content-wrapper .header-area .nav-close:hover {
      background-color: #131212; }
  .main-content-wrapper .header-area .logo {
    margin-bottom: 100px;
    display: block; }
  .main-content-wrapper .header-area .amado-nav li a {
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    padding: 20px 0;
    display: block;
    line-height: 0.9;
    color: #131212;
    font-weight: normal; }
    .main-content-wrapper .header-area .amado-nav li a::after {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      width: 30px;
      height: 3px;
      position: absolute;
      top: 50%;
      margin-top: -1.5px;
      left: -150px;
      background-color: #fbb710;
      z-index: 10;
      content: ''; }
    .main-content-wrapper .header-area .amado-nav li a:hover, .main-content-wrapper .header-area .amado-nav li a:focus {
      color: #fbb710; }
  .main-content-wrapper .header-area .amado-nav li:hover a::after, .main-content-wrapper .header-area .amado-nav li:focus a::after {
    left: -75px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .main-content-wrapper .header-area .amado-nav li:hover a::after, .main-content-wrapper .header-area .amado-nav li:focus a::after {
        left: -50px; } }
  .main-content-wrapper .header-area .amado-nav li.active a::after {
    left: -75px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .main-content-wrapper .header-area .amado-nav li.active a::after {
        left: -50px; } }
  .main-content-wrapper .header-area .amado-btn-group .amado-btn {
    width: 160px;
    display: block; }
  .main-content-wrapper .header-area .cart-fav-search a {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 0;
    color: #131212;
    line-height: 1; }
    .main-content-wrapper .header-area .cart-fav-search a .search-nav {
      padding-bottom: 0; }
    .main-content-wrapper .header-area .cart-fav-search a span {
      color: #9e9e9e; }
    .main-content-wrapper .header-area .cart-fav-search a img {
      margin-right: 10px; }
    .main-content-wrapper .header-area .cart-fav-search a:hover, .main-content-wrapper .header-area .cart-fav-search a:focus {
      color: #fbb710; }
  .main-content-wrapper .header-area .social-info a {
    color: #b5b5b5;
    display: inline-block; }
    .main-content-wrapper .header-area .social-info a i {
      font-size: 18px; }
    .main-content-wrapper .header-area .social-info a:hover, .main-content-wrapper .header-area .social-info a:focus {
      color: #fbb710; }
  @media only screen and (max-width: 767px) {
    .main-content-wrapper .header-area .social-info {
      margin-bottom: 75px; } }