<div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
        <div class="ratings-star"  [style.width.px]='starWidth' [title]='rating'   (click)="onClick()"    >
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </div>
</div>